/.bundle

/.env*
!/.env*.erb

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

*.sqlite3

/config/master.key

/public/assets
